{% extends 'base.html' %}
{% block content %}
<div class="container  text-center m-5 p-2 rounded mx-auto bg-light shadow">

            <div class="row m-1 p-4">
                <div class="col">
                    <h3 class="card-header bg-info p-3 m-2 text-white ">Update Task </h3>
                    <form method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" value="Update">
                    </form>
                </div>
            </div>
{% endblock %}